<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from htmlstream.com/preview/front-dashboard-v2.0/users-add-user.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jul 2022 06:37:03 GMT -->
<%-include('../Partes/head.ejs')%>

<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">

  <script src="/dashboard/assets/js/hs.theme-appearance.js"></script>

  <script src="/dashboard/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js"></script>

  <!-- ========== HEADER ========== -->

  <%-include('../Partes/header.ejs')%>

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <!-- Navbar Vertical -->

  <%-include('../Partes/sideBar.ejs')%>

  <main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
      <!-- Step Form -->
      <form class="js-step-form py-md-5" data-hs-step-form-options='{
              "progressSelector": "#addUserStepFormProgress",
              "stepsSelector": "#addUserStepFormContent",
              "endSelector": "#addUserFinishBtn",
              "isValidate": false
            }'>
        <div class="row justify-content-lg-center">
          <div class="col-lg-8">
            <!-- Step -->
            <ul id="addUserStepFormProgress" class="js-step-progress step step-sm step-icon-sm step step-inline step-item-between mb-3 mb-md-5">
              <li class="step-item">
                <a class="step-content-wrapper" href="javascript:;" data-hs-step-form-next-options='{
                    "targetSelector": "#addUserStepProfile"
                  }'>
                  <span class="step-icon step-icon-soft-dark">1</span>
                  <div class="step-content">
                    <span class="step-title">Dados Pessoais</span>
                  </div>
                </a>
              </li>

              <li class="step-item">
                <a class="step-content-wrapper" href="javascript:;" data-hs-step-form-next-options='{
                    "targetSelector": "#addUserStepBillingAddress"
                  }'>
                  <span class="step-icon step-icon-soft-dark">2</span>
                  <div class="step-content">
                    <span class="step-title">Endereço</span>
                  </div>
                </a>
              </li>

              <li class="step-item">
                <a class="step-content-wrapper" href="javascript:;" data-hs-step-form-next-options='{
                    "targetSelector": "#addUserStepConfirmation"
                  }'>
                  <span class="step-icon step-icon-soft-dark">3</span>
                  <div class="step-content">
                    <span class="step-title">Confirmação</span>
                  </div>
                </a>
              </li>
            </ul>
            <!-- End Step -->

            <!-- Content Step Form -->
            <div id="addUserStepFormContent">
              <!-- Card -->
              <div id="addUserStepProfile" class="card card-lg active">
                <!-- Body -->
                <div class="card-body">
                  <!-- Form -->
                  <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">Foto de Perfil</label>

                    <div class="col-sm-9">
                      <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <label class="avatar avatar-xl avatar-circle avatar-uploader me-5" for="avatarUploader">
                          <img id="avatarImg" class="avatar-img" src="http://localhost:1200/upload/user.png" alt="Image Description">

                          <input onchange="formData()" name="imgProf"  type="file" class="js-file-attach avatar-uploader-input" id="avatarUploader" data-hs-file-attach-options='{
                                    "textTarget": "#avatarImg",
                                    "mode": "image",
                                    "targetAttr": "src",
                                    "resetTarget": ".js-file-attach-reset-img",
                                    "resetImg": "http://localhost:1200/upload/user.png",
                                    "allowTypes": [".png", ".jpeg", ".jpg"]
                                 }'>

                          <span class="avatar-uploader-trigger">
                            <i class="bi-pencil avatar-uploader-icon shadow-sm"></i>
                          </span>
                        </label>
                        <!-- End Avatar -->

                        <button type="button" class="js-file-attach-reset-img btn btn-white">Deletar</button>
                      </div>
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">Nome Completo <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Displayed on public forums, such as Front."></i></label>

                    <div class="col-sm-9">
                      <div class="input-group input-group-sm-vertical">
                        <input onchange="formData()" id="nomeProf" type="text" class="form-control" name="nomeProf" placeholder="Nome Completo">
                        
                      </div>
                    </div>
                  </div>
                  <!-- End Form -->
                        <!-- Form -->
                        <div class="row mb-4">
                          <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">NIF <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Displayed on public forums, such as Front."></i></label>
      
                          <div class="col-sm-9">
                            <div class="input-group input-group-sm-vertical">
                              <input onchange="formData()" id="NIFProf" type="text" class="form-control" name="nomeProf" placeholder="Numero de Identificação Fiscal">
                              
                            </div>
                          </div>
                        </div>
                        <!-- End Form -->
                  
                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">Username <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Displayed on public forums, such as Front."></i></label>

                    <div class="col-sm-9">
                      <div class="input-group input-group-sm-vertical">
                        <input onchange="formData()" id="userProf" type="text" class="form-control" name="userProf" placeholder="Username">
                        
                      </div>
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="emailLabel" class="col-sm-3 col-form-label form-label">Email</label>

                    <div class="col-sm-9">
                      <input onchange="formData()" id="emailProf" type="email" class="form-control" name="emailProf" id="emailLabel" placeholder="Email" aria-label="clarice@site.com">
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="js-add-field row mb-4" data-hs-add-field-options='{
                          "template": "#addPhoneFieldTemplate",
                          "container": "#addPhoneFieldContainer",
                          "defaultCreated": 0
                        }'>
                    <label for="phoneLabel" class="col-sm-3 col-form-label form-label">Telefone <span class="form-label-secondary">(Obrigatorio)</span></label>

                    <div class="col-sm-9">
                      <div class="input-group input-group-sm-vertical">
                        <input onchange="formData()" type="text" class="js-input-mask form-control" name="telProf" id="telProf" placeholder="Numero de Telefone" aria-label="+x(xxx)xxx-xx-xx" data-hs-mask-options='{
                                 "mask": "000000000"
                               }'>

                        <!-- Select -->
                        <div class="tom-select-custom tom-select-custom-end">
                          <select class="js-select form-select" autocomplete="off" data-hs-tom-select-options='{
                                    "searchInDropdown": false,
                                    "hideSearch": true,
                                    "dropdownWidth": "8rem"
                                  }'>
                            <option value="Mobile" selected>Telefone</option>
                        
                          </select>
                        </div>
                        <!-- End Select -->
                      </div>

                    
                    </div>
                  </div>
                  <!-- End Form -->

               

                

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="organizationLabel" class="col-sm-3 col-form-label form-label">Descrição</label>

                    <div class="col-sm-9">
                      <input onchange="formData()" name="descProf" type="text" class="form-control" id="descProf" placeholder="Diz um pouco sobre o Formador" aria-label="Htmlstream">
                    </div>
                  </div>
                  <!-- End Form -->

                </div>
                <!-- End Body -->

                <!-- Footer -->
                <div class="card-footer d-flex justify-content-end align-items-center">
                  <button type="button" class="btn btn-primary" data-hs-step-form-next-options='{
                            "targetSelector": "#addUserStepBillingAddress"
                          }'>
                    Proximo <i class="bi-chevron-right"></i>
                  </button>
                </div>
                <!-- End Footer -->
              </div>
              <!-- End Card -->

              <div id="addUserStepBillingAddress" class="card card-lg" style="display: none;">
                <!-- Body -->
                <div class="card-body">
                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="locationLabel" class="col-sm-3 col-form-label form-label">Endereço e Morada</label>

                    <div class="col-sm-9">
                     

                      <div class="mb-4">
                        <input onchange="formData()" type="text" class="form-control" name="enderecoProf" id="enderecoProf" placeholder="Endereço" aria-label="City">
                      </div>

                      <input onchange="formData()" id="residenciaProf" type="text" class="form-control" name="residenciaProf" id="stateLabel" placeholder="Morada" aria-label="State">
                    </div>
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Body -->

                <!-- Footer -->
                <div class="card-footer d-flex align-items-center">
                  <button type="button" class="btn btn-ghost-secondary" data-hs-step-form-prev-options='{
                       "targetSelector": "#addUserStepProfile"
                     }'>
                    <i class="bi-chevron-left"></i> Voltar
                  </button>

                  <div class="ms-auto">
                    <button type="button" class="btn btn-primary" data-hs-step-form-next-options='{
                              "targetSelector": "#addUserStepConfirmation"
                            }'>
                      Proximo <i class="bi-chevron-right"></i>
                    </button>
                  </div>
                </div>
                <!-- End Footer -->
              </div>

              <div id="addUserStepConfirmation" class="card card-lg" style="display: none;">
                <!-- Profile Cover -->
                <div class="profile-cover">
                  <div class="profile-cover-img-wrapper">
                    <img class="profile-cover-img" id="avatarImg" src="/dashboard/assets/img/1920x400/img1.jpg" alt="Image Description">
                    
                  </div>
                </div>
                <!-- End Profile Cover -->

                <!-- Avatar -->
                <div class="avatar avatar-xxl avatar-circle avatar-border-lg profile-cover-avatar">
                  <img id="imgProff" class="avatar-img" src="http://localhost:1200/upload/user.png" alt="Image Description">
                </div>
                <!-- End Avatar -->

                <!-- Body -->
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-6 text-sm-end">Nome Completo:</dt>
                    <dd class="col-sm-6" id="nomeProf_"></dd>
                    
                    <dt class="col-sm-6 text-sm-end">NIF:</dt>
                    <dd class="col-sm-6" id="NIFProf_" ></dd>

                    <dt class="col-sm-6 text-sm-end">Username:</dt>
                    <dd class="col-sm-6" id="userProf_" ></dd>

                    <dt class="col-sm-6 text-sm-end">Email:</dt>
                    <dd class="col-sm-6" id="emailProf_"></dd>

                    <dt class="col-sm-6 text-sm-end">Telefone:</dt>
                    <dd class="col-sm-6" id="telProf_"></dd>
                    <dt class="col-sm-6 text-sm-end">Endereço:</dt>
                    <dd class="col-sm-6" id="enderecoProf_"></dd>
                    <dt class="col-sm-6 text-sm-end">Residencia:</dt>
                    <dd class="col-sm-6" id="residenciaProf_"></dd>


                    <dt class="col-sm-6 text-sm-end">Descrição:</dt>
                    <dd class="col-sm-6" id="descProf_"></dd>

                  </dl>
                  <!-- End Row -->
                  <div style="align-center: center" class="" id="result"></div>
                </div>
                <!-- End Body -->
               
                <!-- Footer -->
                <div class="card-footer d-sm-flex align-items-sm-center">
                  <button type="button" class="btn btn-ghost-secondary mb-2 mb-sm-0" data-hs-step-form-prev-options='{
                       "targetSelector": "#addUserStepBillingAddress"
                     }'>
                    <i class="bi-chevron-left"></i> Voltar
                  </button>

                  <div class="ms-auto">
                    <button  onclick="EnviarDados()" type="button" class="btn btn-primary">Cadastrar Professor</button>
                  </div>
                </div>
                <!-- End Footer -->
              </div>
            </div>
            <!-- End Content Step Form -->

          
          </div>
        </div>
        <!-- End Row -->
      </form>
      <!-- End Step Form -->
    </div>
    <!-- End Content -->

   <%- include('../Partes/footer') %> 
  </main>
  <%- include('../Partes/dependencia') %> 
  <script>
    const formData=(e)=> {
      const nomeProf=document.getElementById('nomeProf').value;
      const emailProf=document.getElementById('emailProf').value;
      const NIFProf=document.getElementById('NIFProf').value;
      const userProf=document.getElementById('userProf').value;
      const telProf=document.getElementById('telProf').value;
      const enderecoProf=document.getElementById('enderecoProf').value;
      const residenciaProf=document.getElementById('residenciaProf').value;
      const descProf=document.getElementById('descProf').value;
      const imgProf=document.getElementById('avatarUploader').files[0];


      document.getElementById('nomeProf_').innerHTML=nomeProf; 
      document.getElementById('emailProf_').innerHTML=emailProf;
      document.getElementById('NIFProf_').innerHTML=NIFProf;
      document.getElementById('userProf_').innerHTML=userProf;
      document.getElementById('telProf_').innerHTML=telProf;
      document.getElementById('enderecoProf_').innerHTML=enderecoProf;
      document.getElementById('residenciaProf_').innerHTML=residenciaProf;
      document.getElementById('descProf_').innerHTML=descProf;
      // document.getElementById('avatarUploader').files[0];
      document.getElementById('imgProff').setAttribute('src', document.getElementById('avatarImg').getAttribute('src'));
      console.log(document.getElementById('avatarImg').getAttribute('src'));
    }


    function EnviarDados() {
      const nomeProf=document.getElementById('nomeProf').value;
      const emailProf=document.getElementById('emailProf').value;
      const userProf=document.getElementById('userProf').value;
      const telProf=document.getElementById('telProf').value;
      const enderecoProf=document.getElementById('enderecoProf').value;
      const residenciaProf=document.getElementById('residenciaProf').value;
      const descProf=document.getElementById('descProf').value;
      const imgProf=document.getElementById('avatarUploader').files[0];

      //nomeProf, emailProf, userProf, telProf, enderecoProf, residenciaProf, descProf, imgProf
      const Dados= new FormData();
      Dados.append('nomeProf',nomeProf)
      Dados.append('emailProf',emailProf)
      Dados.append('userProf',userProf)
      Dados.append('telProf',telProf)
      Dados.append('enderecoProf',enderecoProf)
      Dados.append('residenciaProf',residenciaProf)
      Dados.append('descProf',descProf)
      Dados.append('image',imgProf)

      const options = {
        method: 'POST',
        body: Dados,
      };

      fetch('http://localhost:1200/adicionarProf', options).then(data => {
        return data.json();
      }).then(data => {
        if(data.error){
          document.getElementById('result').innerHTML =data.error; 
          document.getElementById('result').setAttribute('class', 'text-danger')
        }else{
          document.getElementById('result').innerHTML =data.certo;
          document.getElementById('result').setAttribute('class', 'text-success')
          window.location="/listaFormador"
        }
      })
      .catch(e => {
        console.log(e);
      });

      
    }

  </script>

  <!-- End Style Switcher JS -->
</body>

<!-- Mirrored from htmlstream.com/preview/front-dashboard-v2.0/users-add-user.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jul 2022 06:37:06 GMT -->
</html>